body{ 
        background-color:black; 
        color: darkgray; 
        display: flex; 
        justify-content: center;  
        align-items: center; 
        margin: 0; 
        min-height: 100vh; 
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}  

.nav h1{ 
        text-shadow:  1px 1px  whitesmoke,  
                 2px 2px   whitesmoke, 
                 3px 3px  whitesmoke,  
                 4px 4px   whitesmoke;

} 

.nav h1:hover{  
                position: relative; 
                top: -3px; 
                left: -3px; 
                text-shadow: 1px 1px  whitesmoke,  
                2px 2px   whitesmoke, 
                3px 3px  whitesmoke,  
                4px 4px   whitesmoke, 
                5px 5px     whitesmoke, 
                6px 6px     whitesmoke;

} 

.nav{ 
        background-color: gold; 
        padding: 3rem; 
        border-radius: 1rem; 
        border: 5px solid pink;     
        display: flex; 
        justify-content: center;  
        align-items: center;  
        flex-direction: column; 
        

} 

.nav2{ 
        display: flex; 
        grid-template-columns: auto auto; 
        row-gap: 1rem; 
        column-gap: 3rem; 
        align-items: center; 
        justify-content: center; 
        width:100%;
} 

.Zo{ 
        margin: 0%; 
        text-align: center;
} 

label{ 
        font-weight: bold;
} 

.Zo2{ 
        display: flex; 
        align-items: center;
} 

.Section{ 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            grid-template-columns: auto auto; 
            row-gap: 1rem; 
            column-gap: 3rem; 
            width:100%;
} 

.Zo3{  
            width: 2rem;

} 

.display{ 
            background-color: white; 
            color: darkgray; 
            padding: 1rem; 
            border: 5px solid pink; 
            height: 2rem;  
            width: 450px;  
            display: flex; 
            align-items: center; 
            justify-content: center;  
            border-radius: 5rem;
} 

.Zo4{ 
        grid-column: auto/span 2; 
        background-color: white; 
        border: 5px solid pink;  
        width:100%; 
        color: darkgray; 
        padding: .5rem 1rem; 
        font-weight: bold; 
        border-radius: 1rem;


} 

